extends ../layouts/main-layout.pug

block style
    link(rel="stylesheet", href="css/forms.css")
    link(rel="stylesheet", href="css/auth.css")

block content
     main
        if errorMessage     
            div.user-message.user-message--error #{errorMessage}
        form.login-form(action="/login" ,method="POST" novalidate)
            input(type="hidden" name="_csrf" value=csrfToken )                    
            .form-control
                label(for="email") E-Mail
                input(type="email", name="email",class={invalid: validationError.email}, value=oldInput.email )#email
            .form-control
                label(for="password") Password
                input(type="password", name="password",class={invalid: validationError.password},value=oldInput.password)#password                       
            button.btn(type="submit") Login
        div.centered 
            a(href="/reset") Reset Password
