<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        link(rel="stylesheet", href="/css/main.css")
        block style
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a(href="/",class={active:path ==='/'}) Shop
                    li.main-header__item
                        a(href="/products",class={active:path ==='/products'}) Products
                    if has_login
                        li.main-header__item
                            a(href="/cart",class={active:path ==='/cart'}) Cart
                        li.main-header__item
                            a(href="/orders",class={active:path ==='/orders'}) Orders
                        li.main-header__item
                            a(href="/admin/add-product?edit=false",class={active:path ==='/admin/add-product'}) Add Product
                        li.main-header__item
                            a(href="/admin/products",class={active:path ==='/admin/products'}) Admin Products
                ul.main-header__item-list
                    if has_login
                        li.main-header__item
                            form(action="logout" method="post")                        
                                button(type='submit') Logout
                    else
                        li.main-header__item
                            a(href="/login" ,class={active:path ==='/login'}) Login
                        li.main-header__item
                            a(href="/signup" ,class={active:path ==='/signup'}) Signup
            //- nav.mobile-nav
            //-     ul.mobile-nav__item-list
            //-         li.mobile-nav__item
            //-             a(href="/",class={active:path ==='/'}) Shop
            //-         li.mobile-nav__item
            //-             a(href="/products",class={active:path ==='/products'}) Products
            //-         li.mobile-nav__item
            //-             a(href="/cart",class={active:path ==='/cart'}) Cart
            //-         li.mobile-nav__item
            //-             a(href="/orders",class={active:path ==='/orders'}) Orders
            //-         li.mobile-nav__item
            //-             a(href="/admin/add-product?edit=false",class={active:path ==='/admin/add-product'}) Add Product
            //-         li.mobile-nav__item
            //-             a(href="/admin/products",class={active:path ==='/admin/products'}) Admin Products
    block content