extends ../layouts/main-layout.pug 

block content
    if data.length > 0
        ul
            each p in data
                li  #{p.product.title} (#{p.qty})     
    else
         p No Product In Cart ...    