extends ../layouts/main-layout.pug 

block style
    link(rel="stylesheet", href="/css/cart.css")

block content
    main
        h1 My Carts
        if data.length > 0
            ul.cart__item-list
                each product in data
                    li.cart__item
                        h1 #{product.title}
                        h2 Quantity : #{product.cartItem.quantity}
                        form(action="/cart-delete-item" method='POST')
                            input(type="hidden" name="productId" value=product.id )
                            button( class="btn danger" type="submit") Delete
            hr
            div.centered
                form(action="/create-order" method="POST")
                    button(type="submit" class="btn") Order Now !
        else
            p No Product In Cart ...