extends ../layouts/main-layout.pug 

block style
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        h1 My Products
        if data.length > 0 
            .grid
                each product in data
                    article.card product-item
                        header.card__header
                            h1.product__title #{product.title}
                        .card__image
                            img(src="#{product.imageUrl}" alt="A Book")
                        .card__content
                            h2.product__price #{product.price}
                            p.product__descriptionA #{product.description}
                        .card__actions
                            form(action='add-to-card' ,method='POST')
                                button(type="submit").btn Add to Cart
        else
            p Empty Product...